version: '3.4'

networks:
  network-api:
    driver: bridge

services:
  sql_server:
    container_name: sql_server
    hostname: sql_server
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    ports:
      - 1433:1433
    networks:
      - network-api
    environment:
      SA_PASSWORD: "@teste1746"
      ACCEPT_EULA: "Y"
    healthcheck:
      #forma que encontrei para testar se o container do mssql subiu com exito
      test: /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "@teste1746" -Q "SELECT 1" -b -o /dev/null
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  api_reservas:
    container_name: api_reservas
    hostname: api_reservas
    ports:
      - 3331:3331
    networks:
      - network-api
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./:/home/node
    env_file:
      - .env
    entrypoint:
      - 'sh'
      - '-c'
      - 'sleep 1000'
      # - 'npm run migrate-up && npm run dev'
    depends_on:
      sql_server:
        condition: service_healthy
